.container {
  width: 76vw;
  margin-bottom: 3vh;

  /* border: 1px solid green; */
}
.heading {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.heading p {
  color: grey;
  font-size: 80%;
}
.sub {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.review {
  display: flex;
  width: 35rem;
  padding: 12px;
}
.review > img {
  height: 60px;
  margin-top: 15px;
  margin-right: 15px;
}
.text p {
  color: grey;
  font-size: 80%;
}
.pagination {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.pagination > button {
  width: 2.188rem;
  height: 2.188rem;
  border: 0.063rem solid transparent;
  background-color: #fff;
  border-radius: 0.313rem;
  font-size: 1.25rem;
  box-shadow: 0 0.063rem 0.313rem rgba(0, 0, 0, 0.5);
  transition: 0.4s all;
}

.pagination > button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  /* transform: translateY(-0.188rem); */
}
/* .review img {
  width: 11.68px;
  height: 11.68px;
} */
/* .star {
  display: flex;
  align-items: center;
} */
