.main{
    padding: 0 5%;
}
.formContainer {
    margin-top: 5%;
    margin-bottom: 5%;
  
}

.full {
    width: 100%;
    display: flex;
    gap: 5%;

}

.half {
    width: 50%;
}

.current {
    width: 100%;
}

.label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #000000;
}

.btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    padding: 10px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #FFFFFF;
    color: #000000;
}