.container {
  width: 76vw;
  margin-bottom: 3vh;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.container button {
  color: #ffffff;
  background-color: black;
  font-size: 10px;
  border-radius: 5px;
  padding: 7px 15px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}
.cardContainer {
  width: 100%;
  margin-top: 20px;
  /* margin: 1.875rem; */
  margin-bottom: 30px;
}
.cardContainer > form {
  display: flex;
  justify-content: space-between;
}
.cardContainer > form p {
  display: flex;
  font-size: 80%;
}

.cardContainer > form select {
  width: 42rem;
  height: 2.188rem;
  padding: 0 0.313rem;
  outline: none;
  font-size: 0.875rem;
  border-radius: 0.205rem;
  border: 0.041rem solid #757575;
}
.title {
  margin-bottom: 30px;
}
.title p {
  font-size: 80%;
}
.title textarea {
  width: 42rem;
}
.description {
  margin-bottom: 30px;
}
.description p {
  font-size: 80%;
}
.uploadImg {
  margin-top: 30px;
}
.uploadImg p {
  font-size: 80%;
}
.uploadImg textarea {
  border: 1.5px dashed grey;
}
