.container {
    /* border: 2px solid red; */
}

.sectionOne {
    /* border: 1px solid black; */
}

.user {
    flex: 3;
    display: flex;
    gap: 5%;
    align-items: center;
    margin: 5% 0;
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.userName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.userRating {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #757575;
}

.sectionTwo {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 4%;
    margin-top: 2%;
}

.first {
    display: flex;

}

.left {
    width: 50%;

}

.right {
    width: 50%;
}

.each {
    text-align: start;
}

.key {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #757575;
    margin-bottom: 5%;

}

.value {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 10%;
}

.second>div {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    margin-top: 3%;
}