.main {
    /* border: 1px solid black; */
    border-radius: 10px;
}

.imgContainer {}

.formContainer {
    /* border: 2px solid black; */
}

.full {
    width: 100%;
    display: flex;
    gap: 5%;

}

.half {
    width: 50%;
}

.address {
    width: 100%;
}

.label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #000000;
}

.btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    padding: 10px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #FFFFFF;
    color: #000000;
}