.container {
  width: 76vw;
  margin-bottom: 3vh;
}

.heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #000000;
}
.notification {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2%;
  margin: 2% 0;
}
.textContainer > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5574px;
  line-height: 21px;
  color: #757575;
}
.textContainer > div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 15px;
  color: #000000;
}
.buttonContainer > img{
    cursor: pointer;
}
.pagination {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.pagination > button {
  width: 2.188rem;
  height: 2.188rem;
  border: 0.063rem solid transparent;
  background-color: #fff;
  border-radius: 0.313rem;
  font-size: 1.25rem;
  box-shadow: 0 0.063rem 0.313rem rgba(0, 0, 0, 0.5);
  transition: 0.4s all;
}

.pagination > button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}