.container {
  display: flex;
  margin-bottom: 3vh;
}

.sidebarCont {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 1px solid lightgray;
  border-radius: 25px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vh 0;
}

.sidebarTop {
  width: 92%;
  display: flex;
  justify-content: space-between;
}

.sidebarTop > div {
  cursor: pointer;
}

.sidebarInnerTop {
  text-align: center;
}

.sidebarInnerLeft img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.sidebarInner {
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  margin-top: 2vh;
}

.sidebarInner div:hover {
  font-weight: bold;
  cursor: pointer;
}

.sidebarInnerLeft {
  display: flex;
  align-items: center;
}

.sidebarInnerLeft div {
  font-size: 17px;
  font-weight: 500;
}

.name {
  font-weight: 700;
  font-size: 22px;
}

.info {
  font-weight: 500;
  font-size: 15px;
}

.logoContainer {
  width: 60%;
}

.logoContainer > a > img {
  width: 100%;
}

.firstIcon {
  position: relative;
}

.visibility {
  width: 80px;
  position: absolute;
  left: 70px;
  top: 153px;
}

.online {
  background: #000000;
  border-radius: 8.67188px 8.67188px 0px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13.4189px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.invisible {
  background: #ffffff;
  border-radius: 0px 0px 8.67188px 8.67188px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13.4189px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  cursor: pointer;
}
