.container {
  width: 76vw;
  margin-bottom: 3vh;
}

/* Card Section */

.cardSection {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}
.cardWrap {
  background-color: black;
  width: 21vw;
  height: auto;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}
.cardWrap:hover {
  /* background-color: white; */
  cursor: pointer;
}

.lightImage {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
.darkImage {
  display: none;
}
.cardTextWrap {
  display: flex;
  flex-direction: column;
}
.cardHeading {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.cardPara {
  color: white;
  font-size: 14px;
}

/* Projects Section */
.projectsSection {
  margin-top: 5%;
}

.heading {
  display: flex;
  justify-content: space-between;
}
.heading > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #000000;
}
.heading > button {
  width: 78px;
  height: 35.18px;
  border: 1.52941px solid #000000;
  border-radius: 4.58824px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12.1386px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
.heading > button:hover {
  color: #ffffff;
  background-color: #000000;
}
.project {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  align-items: center;
  padding: 2% 1%;
  margin-bottom: 2%;
}
.projectHeading {
  /* flex: 1; */
  width: 30%;
  margin-right: 2%;
}

.projectHeading > div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 3%;
}
.projectHeading > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5574px;
  line-height: 21px;
  color: #757575;
}

.right {
  /* flex: 1; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.keyValue {
  display: flex;
  flex-direction: column;
  gap: 4%;
}
.keyValue > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.8767px;
  line-height: 23px;
  color: #757575;
}
.keyValue > div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14.8767px;
  line-height: 23px;
  color: #000000;
  margin-top: 4%;
}
.projectBtn > button {
  border: 1.52941px solid #000000;
  width: 84px;
  height: 35px;
  border-radius: 4.58824px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #000000;
  background: #ffffff;
  padding: 5%;
  cursor: pointer;
}

.projectBtn > button:hover{
    background-color: #000000;
    color: #ffffff;
}